.candidate-details {
  background-color: black;
  padding: 20px;
  border-radius: 8px;
  color: white;
}

.avitar {

  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers items horizontally */
  justify-content: center;
  /* Centers items vertically */
  text-align: center;
}



.candidate-item {
  margin-top: 40px;
}

/* White text for candidate details */
.candidate-details {
  color: white;
  text-align: center;
  min-width: 200px;
  min-height: 100px;
}

/* Blue color for the email link */
.candidate-email a {
  color: blue;
  text-decoration: none;
}

/* Style for the candidate avatar */
.candidate-avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-bottom: 10px;
}

/* General link styling (except email) */
.candidate-details a {
  color: white;
  text-decoration: none;
}

.savedCandidate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1px;
  min-width: 100vw;
  margin-top: 0px;
  justify-content: space-evenly;
}

.savedCandidateDetails {
  display: flex;
  justify-content: center;

  min-width: 500px;
}

.savedRemove {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 20px;
  margin-top: 30px;

}

.remove {
  display: flex;
  justify-content: center;
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 40px;
}

.add {
  display: flex;
  justify-content: center;
  background-color: green;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 40px;
}

.candidate-card {
  min-width: 100px;
  min-height: 100px;
}

.savedCandidateAvatar{
  border-radius: 50%;
  max-width: 75px;
  background-color: black;
}

.saved-candidate-name{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  background-color: black;
  padding: 20px;
  margin-top: 0;
}

.saved-candidate-location{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  background-color: black;
  padding: 20px;
  margin-top: 0;
}

.saved-candidate-company{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  background-color: black;
  padding: 20px;
  margin-top: 0;
}

.saved-candidate-bio{
  display: flex;
  flex-wrap: wrap;
  margin-right: 10px;
  background-color: black;
  padding: 20px;
  margin-top: 0;
}

.savedCandidatAvatar{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 5px;
  margin-top: 0;
}

.saved-candidate-email{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}


.header{
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
 background-color: none;
}


.pcHeader{
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
 
}

.headerImage{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
  margin-left: 75px;
  justify-content: center;

}

.headerName{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}

.headerLocaton{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}

.headerEmail{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}

.headerCompany{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}

.headerBio{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}

.headerReject{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;
}




.header {
  

  color: white;
  text-align: center;
width: 100vw;
justify-content: space-evenly;
}


.saved-candidate-html_url{
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  margin-right: 5px;
  margin-top: 0;
  padding: 15px;

}